.odd {
	background-color: lightpink;
	font-family: Verdana, "DejaVu Sans", sans-serif;
}

#n_two {
	color: blue;
	font-size: 36px;
}

.odd.cooler {
	font-size: 24px;
}

#n_four {
	background-color: lightgreen;
	font-size: 24px;
	font-weight: bold;
}
